ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.button {
    text-decoration: none;
    color: inherit;
}
